<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.CashiersMapper" >
  <resultMap id="BaseResultMap" type="com.accp.entity.Cashiers" >
    <id column="casid" property="casid" jdbcType="VARCHAR" />
    <result column="inid" property="inid" jdbcType="VARCHAR" />
    <result column="cassprice" property="cassprice" jdbcType="REAL" />
    <result column="shisprice" property="shisprice" jdbcType="REAL" />
    <result column="paymenttemp" property="paymenttemp" jdbcType="VARCHAR" />
    <result column="casdate" property="casdate" jdbcType="DATE" />
    <result column="column1" property="column1" jdbcType="VARCHAR" />
    <result column="column2" property="column2" jdbcType="VARCHAR" />
    <result column="column3" property="column3" jdbcType="VARCHAR" />
    <result column="column4" property="column4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    casid, inid, cassprice, shisprice, paymenttemp, casdate, column1, column2, column3, 
    column4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cashiers
    where casid = #{casid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cashiers
    where casid = #{casid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.entity.Cashiers" >
    insert into cashiers (casid, inid, cassprice, 
      shisprice, paymenttemp, casdate, 
      column1, column2, column3, 
      column4)
    values (#{casid,jdbcType=VARCHAR}, #{inid,jdbcType=VARCHAR}, #{cassprice,jdbcType=REAL}, 
      #{shisprice,jdbcType=REAL}, #{paymenttemp,jdbcType=VARCHAR}, #{casdate,jdbcType=DATE}, 
      #{column1,jdbcType=VARCHAR}, #{column2,jdbcType=VARCHAR}, #{column3,jdbcType=VARCHAR}, 
      #{column4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.entity.Cashiers" >
    insert into cashiers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="casid != null" >
        casid,
      </if>
      <if test="inid != null" >
        inid,
      </if>
      <if test="cassprice != null" >
        cassprice,
      </if>
      <if test="shisprice != null" >
        shisprice,
      </if>
      <if test="paymenttemp != null" >
        paymenttemp,
      </if>
      <if test="casdate == null" >
        casdate,
      </if>
      <if test="column1 != null" >
        column1,
      </if>
      <if test="column2 != null" >
        column2,
      </if>
      <if test="column3 != null" >
        column3,
      </if>
      <if test="column4 != null" >
        column4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="casid != null" >
        #{casid,jdbcType=VARCHAR},
      </if>
      <if test="inid != null" >
        #{inid,jdbcType=VARCHAR},
      </if>
      <if test="cassprice != null" >
        #{cassprice,jdbcType=REAL},
      </if>
      <if test="shisprice != null" >
        #{shisprice,jdbcType=REAL},
      </if>
      <if test="paymenttemp != null" >
        #{paymenttemp,jdbcType=VARCHAR},
      </if>
      <if test="casdate == null" >
        NOW(),
      </if>
      <if test="column1 != null" >
        #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        #{column4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.entity.Cashiers" >
    update cashiers
    <set >
      <if test="inid != null" >
        inid = #{inid,jdbcType=VARCHAR},
      </if>
      <if test="cassprice != null" >
        cassprice = #{cassprice,jdbcType=REAL},
      </if>
      <if test="shisprice != null" >
        shisprice = #{shisprice,jdbcType=REAL},
      </if>
      <if test="paymenttemp != null" >
        paymenttemp = #{paymenttemp,jdbcType=VARCHAR},
      </if>
      <if test="casdate != null" >
        casdate = #{casdate,jdbcType=DATE},
      </if>
      <if test="column1 != null" >
        column1 = #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        column2 = #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        column3 = #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        column4 = #{column4,jdbcType=VARCHAR},
      </if>
    </set>
    where casid = #{casid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.entity.Cashiers" >
    update cashiers
    set inid = #{inid,jdbcType=VARCHAR},
      cassprice = #{cassprice,jdbcType=REAL},
      shisprice = #{shisprice,jdbcType=REAL},
      paymenttemp = #{paymenttemp,jdbcType=VARCHAR},
      casdate = #{casdate,jdbcType=DATE},
      column1 = #{column1,jdbcType=VARCHAR},
      column2 = #{column2,jdbcType=VARCHAR},
      column3 = #{column3,jdbcType=VARCHAR},
      column4 = #{column4,jdbcType=VARCHAR}
    where casid = #{casid,jdbcType=VARCHAR}
  </update>
</mapper>