<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.ChongzhiMapper" >
  <resultMap id="BaseResultMap" type="com.accp.entity.Chongzhi" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="clientno" property="clientno" jdbcType="VARCHAR" />
    <result column="cztype" property="cztype" jdbcType="VARCHAR" />
    <result column="cmoney" property="cmoney" jdbcType="REAL" />
    <result column="cbh" property="cbh" jdbcType="VARCHAR" />
    <result column="column1" property="column1" jdbcType="VARCHAR" />
    <result column="column2" property="column2" jdbcType="VARCHAR" />
    <result column="column3" property="column3" jdbcType="VARCHAR" />
    <result column="column4" property="column4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, clientno, cztype, cmoney, cbh, column1, column2, column3, column4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from chongzhi
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from chongzhi
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.entity.Chongzhi" >
    insert into chongzhi (cid, clientno, cztype, 
      cmoney, cbh, column1, 
      column2, column3, column4
      )
    values (#{cid,jdbcType=INTEGER}, #{clientno,jdbcType=VARCHAR}, #{cztype,jdbcType=VARCHAR}, 
      #{cmoney,jdbcType=REAL}, #{cbh,jdbcType=VARCHAR}, #{column1,jdbcType=VARCHAR}, 
      #{column2,jdbcType=VARCHAR}, #{column3,jdbcType=VARCHAR}, #{column4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.entity.Chongzhi" >
    insert into chongzhi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="clientno != null" >
        clientno,
      </if>
      <if test="cztype != null" >
        cztype,
      </if>
      <if test="cmoney != null" >
        cmoney,
      </if>
      <if test="cbh != null" >
        cbh,
      </if>
      <if test="column1 != null" >
        column1,
      </if>
      <if test="column2 != null" >
        column2,
      </if>
      <if test="column3 != null" >
        column3,
      </if>
      <if test="column4 != null" >
        column4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="clientno != null" >
        #{clientno,jdbcType=VARCHAR},
      </if>
      <if test="cztype != null" >
        #{cztype,jdbcType=VARCHAR},
      </if>
      <if test="cmoney != null" >
        #{cmoney,jdbcType=REAL},
      </if>
      <if test="cbh != null" >
        #{cbh,jdbcType=VARCHAR},
      </if>
      <if test="column1 != null" >
        #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        #{column4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.entity.Chongzhi" >
    update chongzhi
    <set >
      <if test="clientno != null" >
        clientno = #{clientno,jdbcType=VARCHAR},
      </if>
      <if test="cztype != null" >
        cztype = #{cztype,jdbcType=VARCHAR},
      </if>
      <if test="cmoney != null" >
        cmoney = #{cmoney,jdbcType=REAL},
      </if>
      <if test="cbh != null" >
        cbh = #{cbh,jdbcType=VARCHAR},
      </if>
      <if test="column1 != null" >
        column1 = #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        column2 = #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        column3 = #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        column4 = #{column4,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.entity.Chongzhi" >
    update chongzhi
    set clientno = #{clientno,jdbcType=VARCHAR},
      cztype = #{cztype,jdbcType=VARCHAR},
      cmoney = #{cmoney,jdbcType=REAL},
      cbh = #{cbh,jdbcType=VARCHAR},
      column1 = #{column1,jdbcType=VARCHAR},
      column2 = #{column2,jdbcType=VARCHAR},
      column3 = #{column3,jdbcType=VARCHAR},
      column4 = #{column4,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>